---
import { Image } from "astro:assets";
import githubIcon from "../../assets/icons/githubwhite-min.svg";
import linkedinIcon from "../../assets/icons/linkedin-min.svg";
---

<footer
    class="fixed bottom-0 left-0 bg-black/80 text-gray-400 py-4 z-50 backdrop-blur w-full px-36"
    data-aos-anchor-placement="top-bottom"
    data-aos="fade-up"
    data-aos-duration="3000"
>
    <div
        class="px-4 flex flex-col md:flex-row items-center justify-between gap-6 w-full"
    >
        <!-- Texto -->
        <div class="text-sm md:text-base text-center md:text-left">
            <p class="text-sm">
                © {new Date().getFullYear()} — Made with John Chicaiza
            </p>
        </div>

        <!-- Redes Sociales -->
        <div class="flex space-x-6">
            <a
                href="https://github.com/tuusuario"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="GitHub"
                class="hover:text-white transition"
            >
                <Image
                    src={githubIcon}
                    alt="GitHub"
                    width={40}
                    height={40}
                    class="w-10 h-10"
                />
            </a>

            <a
                href="https://linkedin.com/in/tuusuario"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="LinkedIn"
                class="hover:text-white transition"
            >
                <Image
                    src={linkedinIcon}
                    alt="LinkedIn"
                    width={40}
                    height={40}
                    class="w-10 h-10"
                />
            </a>
        </div>
    </div>
</footer>
