<div
    class="backdrop-blur bg-[var(--color-surface)]/50 dark:bg-[var(--color-surface)]/60 px-32 sm:px-40 rounded-lg shadow-md h-[87vh]"
>
    <div class="flex flex-col items-center justify-center w-full h-full">
        <h2 class="text-2xl font-bold mb-4">Projects</h2>
        <p class="text-gray-600 dark:text-gray-400 text-center">
            Here are some of the projects I have worked on.
        </p>
    </div>
</div>
