---
import iconAngular from "../assets/icons/angular-min.svg";
import iconAstro from "../assets/icons/astro-min.svg";
import iconNest from "../assets/icons/nest-min.svg";
import iconTailwind from "../assets/icons/net-min.svg";
import iconNodefrom from "../assets/icons/nodejs-min.svg";
import iconPostgres from "../assets/icons/postgresql-min.svg";
import iconReact from "../assets/icons/react-min.svg";
import iconSpring from "../assets/icons/springboot-min.svg";
import iconSql from "../assets/icons/sql-server-min.svg";
import iconVue from "../assets/icons/vue-min.svg";
import iconGit from "../assets/icons/git-min.svg";
import iconHtml from "../assets/icons/html-min.svg";
import iconCss from "../assets/icons/css-min.svg";
import iconJs from "../assets/icons/js-min.svg";
import iconTs from "../assets/icons/ts-min.svg";
import AnimatedBackground from "../components/common/AnimatedBackground.astro";

const icons = [
    iconNest,
    iconTs,
    iconAngular,
    iconAstro,
    iconHtml,
    iconCss,
    iconJs,
    iconTailwind,
    iconNodefrom,
    iconPostgres,
    iconReact,
    iconSpring,
    iconSql,
    iconVue,
    iconGit,
];
const { lang, t } = Astro.props;
---

<html lang={lang}>
    <head>
        <script is:inline>
            if (
                localStorage.getItem("theme") === "dark" ||
                (!("theme" in localStorage) &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            } else {
                document.documentElement.classList.remove("dark");
            }
        </script>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content={t("head.description") ?? "Personal Portfolio"}
        />
        <meta name="theme-color" content="#ffffff" />
        <meta property="og:title" content={t("head.title")} />
        <meta property="og:description" content={t("head.description")} />
        <meta property="og:image" content="/favicon.svg" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content={lang} />
        <meta property="og:url" content="https://tusitio.com" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{t("head.title")}</title>
    </head>
    <body class="relative min-h-screen">
        <!-- Fondo animado con SVGs -->
        <AnimatedBackground icons={icons} />

        <slot />
    </body>
</html>
